.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    max-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content li {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #998080;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #cfd9cf;
    border-radius: 4px;
}
.mallik
{
    width: 20px;
    height: 20px;
    padding-top: 4px;
}
.dropdown:hover .dropbtn1 {
    background-color: #cfd9cf;
}
