.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown ul{
    margin-left: -6%;
    padding: 0%;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: rgb(94, 126, 163);
    border-radius: 5px;
}
.dropdown:hover .dropdown-content {
    display: block;
    
}
.dropdown-content a {
    display: block;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
}
.dropdown-content li {
    display: block;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
}

