/* Resetting default margin and padding */
/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 20px;
    
}

header {
    background-color: #333;
    color: #0a0101;
    padding: 0px 0;
    border: 2px solid black;

}

header h1 {
    font-size: 1.5rem;
    margin-left: 100px;
    color: #fff;
    
    
}
header h1:hover{
    color: #fff;
}
header nav ul {
    list-style-type: none;
    margin-top: -3%;
    margin-left: 45%;
}
header nav ul li {
    display: inline;
    margin-right: 50px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

header nav ul li a:hover {
    color: #f1c40f;
}

main {
    padding: 0px 0;
    background-color: #f2f2f2;
}
main .container{
    padding: 0px 0px;
    margin-left: 5%;
    margin-right: 20%;
}
.banti { 
    color: #fff;
    text-decoration: none;
    font-size: 0px;
    margin-left: -3%;
    margin-right: 4%;
    margin-top: -2%;
    float: left;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0px 0px;
    margin-top: 0%;
}
footer .container{
    padding: 5px;
}
.logos
{
    width: 20px;
    height: 20px;
}
footer ul li{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
footer p a{
    text-decoration: none;
    padding: 5px;
}
.footer-section
{
    margin-bottom: 18%;
}
.footer-section ul li{
    list-style-type: none;
}
.footer-section h3{
    margin-left: 3%;
}

