/* Resetting default margin and padding */
/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styling for the footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer-section {
    flex: 1;
    margin-bottom: 10px;
    padding: 0 20px;
}
.footer-bottom {
    text-align: center;
    padding-top: 10px;
    background-color: #333;
    color: #aaa;
    font-size: 1rem;
}
