body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.3) url('760.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
}

nav{
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    background-color: #343636;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
}
.banti { 
    color: #fff;
    text-decoration: none;
    font-size: 0px;
}

nav h2{
    margin-left: 11px;
    cursor: pointer;
    color: #fff;
}
nav h2:hover{
    margin-left: 11px;
    cursor: pointer;
    color: #27d0ca;
}
nav h2 span{
    font-style: italic;
    color: rgb(90, 120, 12);
}

nav ul{
    flex: 1;
    text-align: center;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
    padding: 4px;
}

nav ul li a{
    padding: 15px;
    text-decoration: none;
    color: #fff;
    transition: 2s;

}


nav .btn{
    color: #000;
    text-decoration: none;
    margin-right: 25px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 12px;
    background-color: rgb(15, 249, 105);   
}

.content{
    position: absolute;
    margin-top: 15%;
    margin-left: 5%;
    color: #fff;
    font-size: 30px;
}

.content p{
    font-size: 25px;
}

.play{
    position: absolute;
    margin-left: 16%;
    margin-top: 31%;
    font-size: 25px;
}

.play a{
    text-decoration: none;
    color: #fff;
    background-color: rgb(245, 15, 249);
    padding: 10px;
    border: 2px solid #000;
}

.card{
    position: absolute;
    left: 60%;
    top: 28%;
    background-color: #3b5f51;
    width: 300px;
    height: 400px;
    border-radius: 15px;
    filter: grayscale(100%);
}

.card img{
    object-fit: cover;
    height: 100%;
}

.card:hover{
    background-color: rgb(101, 65, 152);
    filter: grayscale(0);
}

.card:hover.card img{
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    transform: scale(1.4);
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer-section {
    flex: 1;
    margin-bottom: 10px;
    padding: 0 20px;
}
.footer-bottom {
    text-align: center;
    padding-top: 10px;
    background-color: #333;
    color: #aaa;
    font-size: 1rem;
}
